/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
  --vp-home-hero-name-background: linear-gradient(90deg, #7209d4, #2832d4 33%, #00a5b2);
  --vp-home-hero-name-color: transparent;

  --vp-font-family-base: Consolas, yahei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  font-size: 14px;
}

.clip {
  -webkit-background-clip: text;
  background-clip: text;
}

.custom-button {
  /* 自定义按钮的样式 */
  background-color: rgb(97, 137, 255);
  color: #ffffff;
}

.tagline {
  width: 640px;
  max-width: 640px !important;
}

article.box {
  align-items: center;
}

@media (min-width: 960px) {
  .items .item.grid-6 {
    width: calc(100% / 6);
  }

  .items .item.grid-4 {
    width: calc(100% / 6);
  }
}

.items .grid-6 .box .VPImage {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.aside-container {
  width: 300px;
}

.VPFeature {
  border: none;
}